{% extends "layout.html" %}

{% block title %}Menu{% endblock %}

{% block content %}
<h2>Menu</h2>
<ul>
    <li><a href="/store">Store</a></li>
    <li><a href="/tasks">Tasks</a></li>
    <li><a href="/play_business_empire">Play Business Empire</a></li>
    <li><a href="/leaderboard">Leaderboard</a></li>
    <li><a href="/wallet">Wallet</a></li>
    <li><a href="/airdrop">Airdrop</a></li>
    <li><a href="/trading">Trading</a></li>
    <li><a href="/settings">Settings</a></li>
</ul>
{% endblock %}
